body {
  background-image: url('./assets/background1.jpg');
  background-size: cover;
}

#container {
  height: 900px;
  width: 900px;
  margin: auto;
  background-color: rgba(255, 255, 255, .70);
}

#mainHeader {
  height: 190px;
  width: 100%;
}

#mainHeader img {
  background-color: rgba(255, 255, 255, .85);
}

#headerTitle {
  width: 710px;
  height: 190px;
  float: right;
  text-align: center;
}

#headerTitle h1 {
  font-size: 47px;
}

#sideMenu {
  background-color: rgba(255, 255, 255, .85);
  width: 190px;
  height: 710px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#mainNav {
  padding-top: 50px;
  height: 65%;
  width: 190px;
  list-style: none;
}

#mainNav li {
  width: 190px;
}

#mainNav li a {
  text-decoration: none;
  display: block;
  color: #000;
  padding: 8px;
  transition: 0.2s;
}

#mainNav li a:hover {
  color: white;
  background-color: rgb(194, 194, 194);
}

#content {
display: flex;
height: 500px;
}

#paypalDues {
  height: 35%;
}
